body {
    background-color:antiquewhite;
}

.title1 {
    background-color:crimson;
}

.image {
    text-align: center;
}

.cabecera {
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    list-style: none;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.cabecera img {
    margin-top: -70px;
    width: 3em;
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block; 
}

nav ul li a {
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.left {
    padding: 20px 20px 20px 20px;
    float: left;
    margin: 20px 20px 20px 20px;
    background-color: aqua;
    width: 30%;
    height: 100%;
}

.right {
    padding: 20px 20px 20px 20px;
    float: right;
    margin: 20px 20px 20px 20px;
    background-color: aquamarine;
    width: 60%;
    height: 90%;
}

.bloques {
    padding-top: 500px;
}

.block {
    width: 30%;
    float: right;
}

.pie {
    padding: 100px;
    float: left;
}

